@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{ 
font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Header section */
header {
    background-color: #DFDFDE;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color: #CA965C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #CA965C;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: slateblue;

}
/* End Header section */

/* Hero section */
section {
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/img/hero.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
.main::after{
    content: '';
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.main-text{
    z-index: 1;
}
.main h2 {
    font-size: 1.4em;
    font-weight: 500;
    color: #FDF6F0;
    padding-bottom: none;
}
#job {
    display: inline-block;
    color: #CA965C;
    font-size: 3em;
    font-weight: 600;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;

}
.main h3{
    color: #FDF6F0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    color: #DFDFDE;
    background-color: #CA965C;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.6em 1em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom : 40px;
    transition: 0.7s ease;
    text-transform: uppercase;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #D67D3E ;
    transform: scale(1.1);

}

.social-icons a {
    color: #DFDFDE;
    font-size: 1.7em;
    padding-right: 30px;
}
/* End Hero section */

/* Body Section */
.title {
    display: flex;
    justify-content: center;
    color: #CA965C;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}   

.card {
    background-color:#fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}
.icon {
    color: #CA965C;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3 {
    color: #CA965C;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.projects {
    background-color: #1B1A17 ;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000; 
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: #D67D3E;
}
.more-details:hover {
    color: slateblue;
}

.contact .icon{
    font-size: 4.5em;

}
.contact .info h3 {
    color: #000;
}
.contact .info p{
    font-size: 1.3em;
}
.footer {
    background-color: #1B1A17 ;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: #D67D3E;
}
.footer .social-icons a{
    font-size: 1.3em; 
    padding: 0 12px 0 0;  
}

@media (max-width:1023px){
    header{
        padding: 12px 25px;
    }
    .navigation a{
        padding-left: 8px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;

    }

}
@media (max-width:641px){
    body {
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
    
}